<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitoring</title>

    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/base.css">

    {% block head %}{% endblock %}
</head>
<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Monitoring</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="http://clienddev.ru" target="_blank">ClienDDev team</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container" style="padding-top: 60px;">
        {% block content %}{% endblock %}
    </div>

    <hr>
    <footer class="container">
        &copy; 2015 <a href="http://clienddev.ru">ClienDDev team</a>
    </footer>

    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/handlebars/handlebars.min.js"></script>
    <script src="libs/bootbox.js/bootbox.js"></script>
    <script src="libs/jquery-fastlivefilter/jquery.fastLiveFilter.js"></script>

    {% block footer %}{% endblock %}
</body>
</html>