.list-group-item, .panel-heading{
    cursor: pointer;
}

.all_status{
    /*font-size: 20px;*/
    cursor: auto;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin-top:4px;
    margin-bottom:4px;
}

.search_box{
    margin-top:4px;
    margin-bottom:4px;
}

#search{
    width:100%;
    height: 40px;
}

.input_hover{
    border: 1px solid #fff !important;
    box-shadow: none !important;
}

.input_hover:hover{
    border: 1px solid #ccc !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}